@page "/PendingQuestions"
@inject NavigationManager Navigation
@attribute [Authorize(Roles = "Admin, SuperAdmin, User")]

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" IsVerticallyCentered="true"
       Size="ModalSize.ExtraLarge"/>

<style scoped>
    .questions-wrapper {
        padding-bottom: 60px;
    }
</style>
<PageTitle>Pending Questions</PageTitle>
<div class="questions-wrapper">
    <div class="header">
        <div class="header-text">
            <h3>Pending Questions</h3>
        </div>
        <AuthorizeView Roles="Admin, SuperAdmin">
            <div class="toggle-container">
                <span class="toggle-label">Show My Questions</span>
                <label class="switch">
                    <input type="checkbox" @onchange="ToggleOnlyMyPendingQuestions">
                    <span class="slider"></span>
                </label>
            </div>
        </AuthorizeView>
    </div>
    <div class="row">
        <div>
            <button class="btn btn-create" @onclick="ShowCreatePendingQuestion">Create</button>
        </div>
    </div>
    @if (pendingQuestions == null)
    {
        <p><em>Loading...</em></p>
    }
    else if (pendingQuestions.Count == 0)
    {
        <p>No pending questions found.</p>
    }
    else
    {
        <div id="topElement" class="pending-questions-container">
            @foreach (var pendingQuestion in pendingQuestions)
            {
                <div class="pending-question">
                    <div class="pending-question-row">
                        <div class="pending-question-text">@pendingQuestion.QuestionText</div>
                        <div class="categories-pending-answers">
                            <div class="categories-row">
                                @foreach (var category in pendingQuestion.Categories)
                                {
                                    <span class="category-item">@category.CategoryName</span>
                                }
                            </div>
                            <div class="pending-answers-list">
                                @foreach (var pendingAnswer in pendingQuestion.PendingAnswers)
                                {
                                    <span class="@GetAnswerRowClass(pendingAnswer.IsCorrect)">
                                    @pendingAnswer.AnswerText
                                </span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="actions">
                        <AuthorizeView Roles="Admin, SuperAdmin">
                            <button class="btn btn-approve"
                                    @onclick="@(() => ShowApprovePendingQuestion(pendingQuestion))">
                                Approve
                            </button>
                        </AuthorizeView>
                        <button class="btn btn-update" @onclick="@(() => ShowUpdatePendingQuestion(pendingQuestion))">
                            Update
                        </button>
                        <button class="btn btn-delete" @onclick="@(() => ShowDeletePendingQuestion(pendingQuestion))">
                            Delete
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="pagination-footer">
            <Pagination ActivePageNumber="pendingQuestionsRequest.PageNumber"
                        TotalPages="totalPages"
                        DisplayPages="5"
                        FirstLinkIcon="IconName.ChevronDoubleLeft"
                        PreviousLinkIcon="IconName.ChevronLeft"
                        NextLinkIcon="IconName.ChevronRight"
                        LastLinkIcon="IconName.ChevronDoubleRight"
                        PageChanged="OnPageChanged"
                        Alignment="Alignment.Center"/>
        </div>
    }
</div>>