@using Web.Pages.Custom
<div class="read-question">
    <div class="question-part">
        <Button class="back-button" @onclick="HideModal">Back</Button>
        <div class="question">@currentQuestion.QuestionText</div>
    </div>
    <div class="navigation-part">
        <Button class="previous-button" Disabled="IsPreviousButtonDisabled" @onclick="PreviousQuestion">@("<")</Button>
        <Button class="next-button" Disabled="IsNextButtonDisabled" @onclick="NextQuestion">@(">")</Button>
    </div>
    <ShowHideContent @bind-IsVisible="showAnswersOrStyling" 
                     InitiallyHidden="true" 
                     ApplyVisibilityCss="IsSingleAnswerMode"
                     ShowText="Show" 
                     HideText="Hide">
        <div class="answers-part">
            @for (int i = 0; i < 3; i++)
            {
                var index = i;
                var answer = answers?[index];
                
                @if (answer != null)
                {
                    <div class="@GetDynamicAnswerClass(answer)">@(answer.AnswerText)</div>
                }
                else
                {
                    <div class="answer-item answer-default"></div> 
                }
            }
        </div>
    </ShowHideContent>
</div>