@page "/Questions"
@using Web.Pages.Custom
@namespace Web.Pages.Questions
@attribute [Authorize(Roles = "Admin, SuperAdmin, User")]

<PageTitle>Questions</PageTitle>

<BaseQuestions @ref="baseQuestionsRef" QuestionsRequest="@questionsRequest" Title="@("Questions")"
               EmptyText="@("questions found")" ToggleRoles="@("Admin, User, SuperAdmin")">
    <QuestionActions Context="question">
        <AuthorizeView Roles=@("Admin, SuperAdmin")>
            <div class="actions">
                <button class="btn btn-update" @onclick="@(() => baseQuestionsRef?.ShowUpdateQuestion(question)!)">
                    Update
                </button>
                <button class="btn btn-delete" @onclick="@(() => baseQuestionsRef?.ShowDeleteQuestion(question)!)">
                    Delete
                </button>
            </div>
        </AuthorizeView>
    </QuestionActions>
</BaseQuestions>