@page "/Questions"
@using Web.Pages.Custom
@attribute [Authorize(Roles = "Admin, SuperAdmin, User")]

<PageTitle>Questions</PageTitle>

<BaseQuestions @ref="baseQuestionsRef" QuestionsRequest="@questionsRequest" Title="@("Questions")"
               EmptyText="questions" ToggleRoles="@("Admin, User, SuperAdmin")">
    <QuestionActions Context="question">
        <AuthorizeView Roles=@("Admin, SuperAdmin")>
            <button class="btn btn-update" @onclick="@(() => baseQuestionsRef?.ShowUpdateQuestion(question)!)">
                Update
            </button>
            <button class="btn btn-delete" @onclick="@(() => baseQuestionsRef?.ShowDeleteQuestion(question)!)">
                Delete
            </button>
        </AuthorizeView>
    </QuestionActions>
</BaseQuestions>